/* BookCard.css */
.book-card {
  width: 460px;
  padding: 20px;
  background-color: #ccc;
  border-radius: 15px;
  text-align: center;
}

.book-image img {
  width: 100%;
  border-radius: 10px;
}

.book-details {
  margin: 20px 0;
}

.book-actions {
  display: flex;
  justify-content: space-around;
}

.loan-button, .return-button {
  background-color: #5468ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.loan-button:hover, .return-button:hover {
  background-color: #4054c9;
}
